body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("assets/images/chair1.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-icons {
      color: black;
  }

  .title {
      color: white  ;
  }